.primary__btn {
  --bg: rgba(36, 35, 35, 0.597);
  outline: 1px solid var(--text-clr);
  border-radius: var(--radius);
  background-color: transparent;
  color: inherit;
  background-image: linear-gradient(var(--bg), var(--bg));
  background-repeat: no-repeat;
  background-size: var(--length, 0%) 100%;
  transition: var(--fast);

  &:hover,
  &:focus-visible {
    --length: 100%;
  }
}
